.card {
  border: none;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-img-top {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.card-body {
  padding: 20px;
}

.card-title {
  font-size: 18px;
  margin-bottom: 8px;
}

.card-text {
  font-size: 14px;
}

@media (max-width: 576px) {
  .card-title {
    font-size: 16px;
  }

  .card-text {
    font-size: 12px;
  }
}
